{
  "extends": "react-app",
  "plugins": ["react-hooks", "prettier"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 80,
        "trailingComma": "all",
        "jsxBracketSameLine": true
      }
    ]
  }
}
